---
import "../styles/global.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "about";
---

<BaseLayout title={title}>
  <h2>who?</h2>
  <p>A software engineer in Singapore, who is interested in all things technology. I work with Typescript and AWS. I aspire to change lives with what I do.</p>
  <h2>what?</h2>
  <p>I write about anything under the sun, especially when it is close to my heart. I started this blog to practice filtering my thoughts into words.</p>
</BaseLayout>
