---
import Social from "./Social.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const allTags = [...new Set(allPosts.flatMap((post) => post.frontmatter.tags))];
---

<footer>
  <div class="footer-content">
    <div class="left">
      <p>links</p>
      <ul>
        <li>
          <Social platform="github" username="yongjiajie" />
        </li>
        <li>
          <a href="#">go to top</a>
        </li>
      </ul>
    </div>
    <div class="right">
      <p>tags</p>
      <ul>
        {allTags.map((tag) => (
          <li>
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        ))}
      </ul>
    </div>
  </div>
</footer>
