---
import Social from "./Social.astro";
---

<footer>
  <div class="footer-content">
    <div class="left">
      <p>links</p>
      <ul>
        <li>
          <Social platform="github" username="yongjiajie" />
        </li>
        <li>
          <a href="#">go to top</a>
        </li>
      </ul>
    </div>
    <div class="right">
    </div>
  </div>
</footer>
