---
---

<div class="nav-items">
  <div class="left">
    <a href="/">portal</a>
  </div>
  <div class="right">
    <a href="/blog">blog</a>
    <a href="/tags">tags</a>
    <a href="/about">about</a>
  </div>
</div>
